## Create a dataframe

In [1]:
import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Nikhil', 'Sanchit', 'Aditya', 'Sagar'],
    'Branch': ['CSE', 'CSE', 'IT', 'IT'],
    'Year': ['2', '2', '2', '1'],
    'CGPA': [9.0, 9.1, 9.3, 9.5]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)
df

      Name Branch Year  CGPA
0   Nikhil    CSE    2   9.0
1  Sanchit    CSE    2   9.1
2   Aditya     IT    2   9.3
3    Sagar     IT    1   9.5

## Find the average CGPA of the students

In [33]:
df['CGPA'].mean()

9.225000000000001

### Display the details of all students having CGPA > 9

In [40]:
students_cgpa_above_9 = df[df['CGPA'] > 9]
print("\nStudents with CGPA > 9:")
students_cgpa_above_9

Students with CGPA > 9:

      Name Branch Year  CGPA
1  Sanchit    CSE    2   9.1
2   Aditya     IT    2   9.3
3    Sagar     IT    1   9.5

### Display the details of all CSE students with CGPA > 9

In [41]:
cse_students_cgpa_above_9 = df[(df['Branch'] == 'CSE') & (df['CGPA'] > 9)]
print("\nCSE Students with CGPA > 9:")
cse_students_cgpa_above_9

CSE Students with CGPA > 9:

      Name Branch Year  CGPA
1  Sanchit    CSE    2   9.1

### Display the details of the student with the maximum CGPA

In [43]:
student_max_cgpa = df.loc[df['CGPA'].idxmax()]
print("\nStudent with maximum CGPA:")
student_max_cgpa

Student with maximum CGPA:

Name      Sagar
Branch       IT
Year          1
CGPA        9.5
Name: 3, dtype: object

### Display the average CGPA of each branch

In [44]:
average_cgpa_per_branch = df.groupby('Branch')['CGPA'].mean().astype(float)
print("\nAverage CGPA of each branch:")
average_cgpa_per_branch

Average CGPA of each branch:

Branch
CSE    9.05
IT     9.40
Name: CGPA, dtype: float64